# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Scikit
5. caret

|Data Science Tools|
|------------------|
|Jupyter IDE|
|RStudio|
|Anaconda Navigator|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
print((200/60) , "hours")

3.3333333333333335 hours

Objectives:

* List popular languages for Data Science
* List popular libraries for Data Science
* List some open source developement tools for Data Science
* Do some coding exercises